<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dpdconnect</name>
    <displayName><![CDATA[DPD Connect]]></displayName>
    <version><![CDATA[2.0]]></version>
    <description><![CDATA[Shipping intergration with DPD Connect.]]></description>
    <author><![CDATA[DPD Nederland B.V.]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>